---
import IconLightBlub from '../components/icons/IconLightBlub.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Adivina la celebridad'>
  <header class='text-center mb-6'>
    <h1 class='text-6xl font-bold text-[#55E6C1]'>Adivina la celebridad</h1>
  </header>
  <main class='text-center flex flex-col gap-6'>
    <p class='text-xl text-gray-100'>¿Quién es la persona de debajo?</p>
    <div class='space-y-10'>
      <ol
        class='flex justify-center gap-6 list-[upper-latin] list-inside text-white'
      >
        <li>
          <button
            type='button'
            class='border-b-2 border-b-[#55E6C1] py-2 px-3 text-xl hover:text-[#55E6C1] hover:scale-105 transition-all'
            >Adam Sandler</button
          >
        </li>
        <li>
          <button
            type='button'
            class='border-b-2 border-b-[#55E6C1] py-2 px-3 text-xl hover:text-[#55E6C1] hover:scale-105 transition-all'
            >Adam Sandler</button
          >
        </li>
        <li>
          <button
            type='button'
            class='border-b-2 border-b-[#55E6C1] py-2 px-3 text-xl hover:text-[#55E6C1] hover:scale-105 transition-all'
            >Adam Sandler</button
          >
        </li>
      </ol>
      <div class='grid place-items-center'>
        <picture class='w-80 h-80'>
          <img
            src='https://i.pravatar.cc/300'
            alt='Celebrity'
            class='w-full h-full object-cover border-2 border-[#55E6C1] shadow-2xl rounded cursor-crosshair aspect-square'
          />
        </picture>
      </div>
      <div class='flex items-center justify-center max-w-2xl m-auto text-lg'>
        <span class='text-gray-100'>¿Ninguna idea?</span>
        <button
          class='text-[#55E6C1] font-bold pl-2 flex items-center gap-1 group'
        >
          Dame una pista <IconLightBlub
            className={'animate-pulse group-hover:animate-bounce transition-all'}
          />
        </button>
        <!-- <p class='text-gray-100'>
          <span class='text-[#55E6C1] font-bold'>Pista:</span> lorem ipsum dolor
          sit amet consectetur adipisicing elit. Facere recusandae amet doloremque
          inventore sint non sapiente facilis soluta modi dolor!
        </p> -->
      </div>
    </div>
  </main>
</Layout>
