---
import Footer from '../components/Footer';
import GameSection from '../components/GameSection';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Adivina la celebridad'>
  <header class='text-center mb-6'>
    <h1 class='text-6xl font-bold text-[#55E6C1]'>Adivina la celebridad</h1>
  </header>
  <main class='text-center flex flex-col gap-6'>
    <GameSection client:load />
  </main>
  <Footer />
</Layout>
